@import 'bootstrap-material-design/dist/css/bootstrap-material-design';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'swiper/css/swiper';

/**************** form エラーメッセージ css 追記*******************/
.alert-danger {
    border-radius: 8px;
    ul {
        padding-left: 20px;
    }
}

.image-box {
    img {
        object-fit: cover;
        width: 400px;
        height: 400px;
    }
}